node_modules/
dist/
.env
*.log

package-lock.json

backend/uploaded/*
!backend/uploaded/.gitkeep


backend/__pycache__/
backend//*.py[cod]
backend/*.pyo
backend/*.pyd


backend/env/


backend/.env


backend/node_modules/
backend/npm-debug.log*
backend/package-lock.json

backend/uploaded/*
backend/!uploaded/.gitkeep


backend/ranked_candidates.csv
backend/*.csv


frontend/node_modules/
frontend/.git
frontend/package-lock.json
frontend/dist/


