PORT=5000
FRONTEND_ORIGIN=""

PYTHON_COMMAND=../../env/bin/python
PYTHON_SCRIPT=redrob_backend.py
.
PYTHON_TIMEOUT_MS=120000

QDRANT_URL="https://056f99e7-5645-4d17-8066-1be39b8a205e.eu-west-1-0.aws.cloud.qdrant.io"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ODkwNjg4OWMtNDE4Yy00Nzk2LTg0MzgtMzM3Nzg4MTkzY2ZiIn0.XL6D03Q0OGfYY9zyuAG4O7JLbNrd8D-e8Cb_tcP7Ivc"
QDRANT_COLLECTION="Candidates"
EMBEDDING_MODEL="thenlper/gte-base"""
CANDIDATE_QUERY_LIMIT="500"

STRICT_HONEYPOT_FILTER=false

GEMINI_API_KEY=""