PORT=5000
FRONTEND_ORIGIN=""

PYTHON_COMMAND=python
PYTHON_SCRIPT=redrob_backend.py
.
PYTHON_TIMEOUT_MS=120000

QDRANT_URL="https://056f99e7-5645-4d17-8066-1be39b8a205e.eu-west-1-0.aws.cloud.qdrant.io"
QDRANT_API_KEY=""
QDRANT_COLLECTION="Candidates"
EMBEDDING_MODEL="thenlper/gte-base"""
CANDIDATE_QUERY_LIMIT="500"

STRICT_HONEYPOT_FILTER=false

GEMINI_API_KEY=""
